<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9735aa38-f685-4097-baa8-f252ae9a18cd/resourcegroups/group-projetogama/providers/Microsoft.Web/sites/ProjetoGAMVC</ResourceId>
    <ResourceGroup>group-projetogama</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://projetogamvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e4316d89-8035-4016-82c8-84f2c66812ec</ProjectGuid>
    <PublishUrl>https://projetogamvc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ProjetoGAMVC</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>